body {
    background-color: #a7fab2;
    color: #8B0000;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #8B0000;
    text-align: center;
}

.navbar {
    border-bottom: 2px solid #2E7D32;
}


.me-2 {
    width: 20%;
}

.dev-image {
    max-width: 50%;
    height: auto;
    border: 2px solid #2E7D32
    box-shadow: 0 0 10px #2E7D32
}
.story-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20%;
}

.story-text {
    max-width: 50%;
    text-align: left;
}

.btn-primary {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #2E7D32;
    color: #FFF8E1;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #8B0000;
}

.user-imput { 
    background-color: #2E7D32; 
    color: #FFF8E1; 
    padding: 0.5rem; 
    font-family: 'Courier New', Courier, monospace; 
  }
  
  .user-import:placeholder { 
    color: #8B0000;
    opacity: 0.6; 
  }
  
  .user-import.focus { 
    background-color: #2E7D32; 
    color: #FFF8E1;
    box-shadow: 0 0 30px #FFF8E1;
    border-color: #FFF8E1;
  }
  .form-group {
    align-items: center;
    margin-bottom: irem;
    max-width: 50%;
  }

  .user-input[type='file'] {
    padding: 0.5rem;
    border: 1px solid #2E7D32;
    background-color: #FFF8E1;
    font-family: 'Courier New', Courier, monospace;
    color: #2E7D32;
}

.user-input[type='file']::file-selector-button {
    background-color: #2E7D32;
    border: none;
    color: #FFF8E1;
    padding: 0.5rem 1rem;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: background-color 0.35s ease;
}

.user-input[type='file']::file-selector-button:hover {
    background-color: #A62D2D !important;
}